<% provide(:title, "Estação #{@station.name} - Atualizando em 30 segundos") %>

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">navigation</i>
                        </div>
                        <p class="card-category">Navegou</p>
                        <h3 class="card-title" id="station-navigated"><%= @station.navigated %>
                            <small>KM</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Desde o dia <%= @station.created_at.strftime("%d/%m/%Y") %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">colorize</i>
                        </div>
                        <p class="card-category">Pontos coletados</p>
                        <h3 class="card-title" id="colected_count"><%= @station.status_count %></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Desde o dia <%= @station.created_at.strftime("%d/%m/%Y") %> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">camera_enhance</i>
                        </div>
                        <p class="card-category">Fotos tiradas</p>
                        <h3 class="card-title" id="photos_count"><%= @station.photos_count %></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Desde o dia <%= @station.created_at.strftime("%d/%m/%Y") %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <% if @statuses.last %>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="pHChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">pH</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats pHChart">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.first.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="ORPChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">ORP</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats ORPChart">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.first.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="DOChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Oxigênio Dissolvido</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats DOChart">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.first.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                        <div class="ct-chart" id="conductivityChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Condutividade</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats conductivityChart">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.first.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="temperatureChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Temperatura</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats temperatureChart">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.first.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="co2Chart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">CO2 na superficie</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats co2Chart">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.first.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

        <h4>Mapa</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="iframe-container d-none d-lg-block">
                        <div id="single_station_map"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pics -->
        <h4>Fotos</h4>

        <div class="row photos">
            <% @photos.each do |photo| %>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <img src="<%= photo.file.thumb.url %>" data-full_size="<%= photo.file.url %>" width="100%" onclick="stations.openModal(this);">
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(photo.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>

    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Foto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
var
    statuses = <%= raw @statuses.to_json %>,
    params_id = <%= params[:id] %>
;

</script>