<% provide(:title, "Estação #{@station.name}") %>

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">navigation</i>
                        </div>
                        <p class="card-category">Navegou</p>
                        <h3 class="card-title"><%= @station.navigated %>
                            <small>KM</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Desde o dia <%= @station.created_at.strftime("%d/%m/%Y") %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">colorize</i>
                        </div>
                        <p class="card-category">Pontos coletados</p>
                        <h3 class="card-title"><%= @station.status_count %></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Desde o dia <%= @station.created_at.strftime("%d/%m/%Y") %> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">camera_enhance</i>
                        </div>
                        <p class="card-category">Fotos tiradas</p>
                        <h3 class="card-title"><%= @station.photos_count %></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            Desde o dia <%= @station.created_at.strftime("%d/%m/%Y") %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
            
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="pHChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">pH</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.last.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="ORPChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">ORP</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.last.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="DOChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Oxigênio Dissolvido</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.last.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                        <div class="ct-chart" id="conductivityChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Condutividade</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.last.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="temperatureChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Temperatura</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.last.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="co2Chart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">CO2 na superficie</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(@statuses.last.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>Mapa</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="iframe-container d-none d-lg-block">
                        <div id="single_station_map"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pics -->
        <h4>Fotos</h4>

        <div class="row">
            <% @photos.each do |photo| %>
            <div class="col-md-3">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <img src="<%= photo.file.url %>" width="100%">
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <%= time_ago_in_words(photo.created_at) %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>

    </div>

</div>

<script>
var statuses = <%= raw @statuses.to_json %>;

$(document).on('turbolinks:load', function() {
  // Javascript method's body can be found in assets/js/demos.js
  md.initDashboardPageCharts();

  if ($('#single_station_map').length != 0) {

    var map;
    var legendControl;

    // // Function for resizing the map to fill the available space on the screen
    // var resize = function () {
    //     var $map = $('#single_station_map');
    // };

    // // Resize the map element on window resize
    // $(window).on('resize', function () {
    //     resize();
    // });

    // // Resize the map element
    // resize();
    // Initialize the map
    map = L.map('single_station_map').setView([-25.379659, -49.194844], 15);

    var baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        detectRetina: true
    });

    baseLayer.addTo(map);

    // Initialize the legend control and add it to the map
    var legendControl = new L.Control.Legend();

    legendControl.addTo(map);

    // var layerControl = new L.Control.Layers({
    //     'Stamen Toner': baseLayer
    // });

    // layerControl.addTo(map);

    // custom icone prototype
    
    var station_icon = L.icon({
        iconUrl: "<%= asset_path("paper-boat.png") %>",
        iconSize: [36, 36]
    });

    var cwb_station = L.marker([-25.379659, -49.194844], {icon: station_icon}).addTo(map);

    var track = [];
    for (status in statuses) {
        track.push({
            "lat": statuses[status].latitude,
            "lon": statuses[status].longitude,
            "ele": statuses[status].ph
        });
    }

    var data2 = {
        "gpx": {
            "wpt": track
        }
    }

    var dataLayer2 = new L.FlowLine(data2, {
        recordsField: 'gpx.wpt',
        locationMode: L.LocationModes.LATLNG,
        latitudeField: 'lat',
        longitudeField: 'lon',
        legendOptions: {
            className: 'legend-line',
            numSegments: 20
        },
        tooltipOptions: {
            className: 'line-legend leaflet-div-icon',
            iconSize: null
        },
        displayOptions: {
            ele: {
                displayName: 'Qualidade da água',
                weight: 8,
                color: new L.HSLHueFunction([0, 120], [16, -30])
            }
        },
        layerOptions: {
            opacity: 1.0
        }
    });
    map.addLayer(dataLayer2);

    setTimeout(function() {
        cwb_station.setLatLng([-25.380667, -49.195145]);
        dataLayer2.addRecord({
            "lat": "-25.380667",
            "lon": "-49.195145",
            "ele": "1.98652",
            "name": "Run 001"
        });
    }, 1000);
    
    setTimeout(function() {
        cwb_station.setLatLng([-25.381908, -49.195273]);
        dataLayer2.addRecord({
            "lat": "-25.381908",
            "lon": "-49.195273",
            "ele": "1.98652",
            "name": "Run 001"
        });
    }, 2000);

    setTimeout(function() {
        cwb_station.setLatLng([-25.383187, -49.194630]);
        dataLayer2.addRecord({
            "lat": "-25.383187",
            "lon": "-49.194630",
            "ele": "1.98652",
            "name": "Run 001"
        });
    }, 3000);
  }
});

</script>